<!DOCTYPE html>
<html>
  <head>
    <title>MONGOOSE FLIGHTS</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
    <a href="/flights">ALL FLIGHTS</a>
    <a href="/flights/new">NEW FLIGHT</a>
    </nav>
  </body>
</html>
